## 1. Exercício - Medidas de posição

Faça o download dos dados de nascidos vivos em 2017 de Sergipe e responda às seguintes perguntas:



1.   Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
2.   Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
3.   Qual o apgar de 1 min que mais aparece (moda)?
4.   Qual o apgar de 5 minutos que mais aparece?
5.   Qual o peso da criança tal que 10% dos pesos são menores (P10)?
6.   Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
7.   Qual a quantidade de filhos mortos que mais aparece?
8.   Qual a média de idade de mães solteiras?
9.   Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
10.   Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?

<br/>

In [27]:
#Importando base SE (salva no Drive)

import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

caminho = '/content/drive/MyDrive/DATA_EXPLORATORY/DNSE2017.csv'
sinascse = pd.read_csv(caminho, dtype = str)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
sinascse.head()

  contador ORIGEM CODESTAB CODMUNNASC  ... CODPAISRES TPROBSON PARIDADE KOTELCHUCK
0        1      1  2415631     230440  ...        NaN       05        1          9
1        2      1  2005050     270030  ...        NaN       03        1          3
2        3      1  2005050     270030  ...        NaN       11        0          5
3        4      1  2005026     270030  ...        NaN       05        1          2
4        5      1  2722429     270400  ...        NaN       03        1          2

[5 rows x 61 columns]

In [29]:
#1 - Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
sinascse['IDADEMAE'] = pd.to_numeric(sinascse['IDADEMAE'])
sinascse['PESO'] = pd.to_numeric(sinascse['PESO'])
sinascse['APGAR1'] = pd.to_numeric(sinascse['APGAR1'])
sinascse['APGAR5'] = pd.to_numeric(sinascse['APGAR5'])
sinascse['IDADEPAI'] = pd.to_numeric(sinascse['IDADEPAI'])

print('Média IDADEMAE: ' + str(sinascse['IDADEMAE'].mean()))
print('Média PESO: ' + str(sinascse['PESO'].mean()))
print('Média APGAR1: ' + str(sinascse['APGAR1'].mean()))
print('Média APGAR5: ' + str(sinascse['APGAR5'].mean()))
print('Média IDADEPAI: ' + str(sinascse['IDADEPAI'].mean()))

Média IDADEMAE: 26.148079251188474
Média PESO: 3223.196331521739
Média APGAR1: 8.443828562774497
Média APGAR5: 9.526913296197627
Média IDADEPAI: 33.35748502994012

In [30]:
#2 - Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
medianaIDADEMAE = sinascse['IDADEMAE'].median()
print(medianaIDADEMAE)

26.0

In [31]:
#3 - Qual o apgar de 1 min que mais aparece (moda)?
#4 - Qual o apgar de 5 minutos que mais aparece?
modaAPGAR1 = sinascse['APGAR1'].mode()
modaAPGAR5 = sinascse['APGAR5'].mode()
print('O APGAR de 1 min que mais aparece é: ' + str(int(modaAPGAR1)))
print('O APGAR de 5 min que mais aparece é: ' + str(int(modaAPGAR5)))

O APGAR de 1 min que mais aparece é: 9
O APGAR de 5 min que mais aparece é: 10

In [32]:
#5 - Qual o peso da criança tal que 10% dos pesos são menores (Q10)?
#6 - Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
qPESO_10_75 = sinascse[['PESO']]
q = qPESO_10_75.quantile([0.1,0.75])
q

        PESO
0.10  2570.0
0.75  3575.0

In [33]:
#7 - Qual a quantidade de filhos mortos que mais aparece?
modaQTDFILMORT = sinascse['QTDFILMORT'].mode()
print(int(modaQTDFILMORT))

0

In [42]:
#8 - Qual a média de idade de mães solteiras?
maeSolteira = sinascse[sinascse['ESTCIVMAE'] == '1']
mediaIDADEMAE = maeSolteira['IDADEMAE'].median()
print(mediaIDADEMAE)

24.0

In [ ]:
#9 - Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
escolaridadeMaeAte3Anos = sinascse[(sinascse['ESCMAE']=='1') | (sinascse['ESCMAE']=='2')]
q25 = escolaridadeMaeAte3Anos['QTDFILVIVO'].int(quantile[(0.25)])
q25

In [44]:
#10 - Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?
anomaliaSIM = sinascse[sinascse['IDANOMAL'] == '1']
modaIDADEMAE = anomaliaSIM['IDADEMAE'].mode()
print(int(modaIDADEMAE))

21